spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/sara_site?useSSL=false&serverTimezone=UTC
    username: user
    password: zineb
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: imadeddine.rahmani@gmail.com
    password: tqvdovcersolfhcj
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true




jwt:
  secret: saraRahmaniSite2025SuperSecretKey123456789  # ← AJOUTE ÇA
  expiration: 86400000

server:
  port: 8080
